{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, Computational Biology major.</h3>
        <h3>This is a webpage comprised of my coding related works.</h3>
        <h3>Here is a look at the <a href="{{ .Site.BaseURL }}projects/"> projects</a> I have completed.</h3>
        <h3>Check out my <a href="resume.pdf" target="_blank">resume</a>.</h3>
        <h3>Feel free to contact me through <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
